/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #161b22;
    color: #c9d1d9;
}

h1 {
    color: #f0f6fc;
}

.button,
.link {
    display: inline-block;
    background-color: #6e7681;
    color: #f0f6fc;
    padding: 14px 28px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover,
.link:hover {
    background-color: #8b949e;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #c9d1d9;
}

.table th {
    background-color: #0d1117;
    color: #c9d1d9;
}

.table td {
    background-color: #161b22;
}

.table tr:nth-child(even) td {
    background-color: #0d1117;
}

.table tr:hover td {
    background-color: #30363d;
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.message.success {
    background-color: #28a745;
    color: #f0f6fc;
}

.message.error {
    background-color: #d73a49;
    color: #f0f6fc;
}

.input-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-field label {
    flex: 0 0 120px;
    color: #c9d1d9;
}

.input-field input {
    flex: 1;
    padding: 5px;
    border: 1px solid #c9d1d9;
    border-radius: 5px;
    background-color: #161b22;
    color: #c9d1d9;
}

.input-field input[type="submit"] {
    background-color: #4b5563;
    color: #f0f6fc;
    padding: 19.2px 38.4px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.input-field input[type="submit"]:hover {
    background-color: #3d4852;
    cursor: pointer;
}
